body{
	background: #000;
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif, arial;

  -webkit-font-smoothing: antialiased;
}

.col{
	text-align: center;
}

h1{
	font: 40px/60px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-weight: 700;
  text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	padding: 50px 0 12px 0;
	line-height: 1em;
}

h2{
  font-weight: 400;
  text-align: center;
  color: #878787;
  -webkit-font-smoothing: antialiased;
}

img{
	max-width: 100%;
	max-height: 100%;
  width: 100%;
  height: auto;
}

.wrapper{
	padding: 0 30% 10% 30%;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  }

.footer{
  margin-bottom: 50px;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 30px;
  display: block;
  margin: 0px auto;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

  .btn-1 {
  border: 3px solid #fff;
  color: #fff;
}

  /* Button 1b */
.btn-1b:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
}

.btn-1b:hover,
.btn-1b:active {
  color: #ccc;
}

.btn-1b:hover:after,
.btn-1b:active:after {
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .btn {
    font-size: .6em;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 10px 50px 10px;
  }

  .btn {
    width: 60%;
    font-size: .9em;
  }

  #resume-anchor span {
    font-size: 48px; 
  }
}

